﻿@model ShoppingCart

@{
    ViewData["Title"] = "Your Cart";
    int numOfQuantity = 1;
}
<h2 class="text-center text-primary fs-3">Your Cart</h2>

<div class="container px-3 my-3">
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-md-12">
            <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
            <div class="row row-cols-1 row-cols-md-3 g-4">

                @foreach (var product in Model.Items)
                {
                    <!-- Sản phẩm -->
                    <div class="col">
                        <div class="card">
                            
                            <div class="card-body">
                                <h5 class="card-title">Name: <strong>@product.Name</strong></h5>
                                
                                <p class="card-text">Price: <strong>@product.Price.ToString("#,##0") Vnđ</strong></p>
                                <p class="card-text">Quantity: <strong>@(product.Quantity)</strong></p>
                                <p class="card-text bg-light p-2 text-uppercase">Total: <strong>@((product.Quantity * product.Price).ToString("#,##0")) Vnđ</strong></p>                             
                                <a asp-action="RemoveFromCart" asp-route-productId="@product.ProductId" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i>
                                    Remove
                                </a>
                                <a asp-action="Checkout" asp-route-productId="@product.ProductId" class="btn btn-success">
                                    
                                    Order
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        
    </div>
</div>

