﻿@model IEnumerable<WebBanHangn.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    int numOfQuantity = 1;
}

<div class="container mt-4 py-2">
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-md-9">
            <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
            <div class="row row-cols-1 row-cols-md-3 g-4">

                @foreach (var product in Model)
                {
                    <!-- Sản phẩm -->
                    <div class="col">
                        <div class="card">
                            <img src="@product.ImageUrl" class="card-img-top" alt="..." style="max-height:150px;">
                            <div class="card-body">
                                <h5 class="card-title">Name: <strong>@product.Name</strong></h5>
                                
                                <p class="card-text">Price: <strong>@product.Price.ToString("#,##0") Vnđ</strong></p>
                                <p class="card-text">Cate: <strong>@(product.Category?.Name ?? "No Category")</strong></p>

                                <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-warning">View</a>                                |
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity">
                                    <button class="btn btn-primary">

                                        <i class="bi-cart-fill me-1"></i> Add to Cart
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        
    </div>
</div>

